{% extends 'layout.html' %}

{% block title %}
    <title>Show Page</title>
{% endblock %}

{% block content %}

<div class="container my-4">
    <h1>Update Student</h1>
    <hr>
    <div class="card my-3">
        <div class="card-body">
            {% if messages %}
                {% for msg in messages %}
                    <p class="text-success">{{msg}}</p>
                {% endfor %}
            {% endif %}
            <form method="post" action="/students/update/{{student.sid}}">
                {% csrf_token %}
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <td>
                            <input type="text" class="form-control" name="name" value="{{student.name}}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            <input type="text" class="form-control" name="email" value="{{student.email}}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>
                            <input type="number" class="form-control" name="age" value="{{student.age}}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Grade</th>
                        <td>
                            <input type="number" class="form-control" name="grade" value="{{student.grade}}"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>
{% endblock %}